* {
    font-family: osr;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
a:hover {
    color: #0078db;
}

.btn-primary {
    background-image: -webkit-linear-gradient(top, #ffde00, #ffc400);
    background-image: -o-linear-gradient(top, #ffde00, #ffc400);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffde00), to(#ffc400));
    background-image: linear-gradient(to bottom, #ffde00, #ffc400);
    box-shadow: 0 -1px 0 #dca900 inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: #000;
    text-shadow: none;
    line-height: 30px;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    font-family: inherit;
    line-height: 2;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus {
    background-image: -webkit-linear-gradient(top, #ffc400, #ffde00);
    background-image: -o-linear-gradient(top, #ffc400, #ffde00);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc400), to(#ffde00));
    background-image: linear-gradient(to bottom, #ffc400, #ffde00);
    background-color: transparent;
    background-position: inherit;
    color: #000;
    outline: none;
}

.btn-default {
    background: transparent;
    border: 3px #ffcf00 solid;
    line-height: 34px !important;
    text-shadow: none;
    box-shadow: none;
    padding: 0 50px !important;
    text-transform: uppercase;
}

.btn-default:hover {
    background: #ffcf00;
    border: 3px solid #ffcf00;
}

.brdr {
    border-right: 1px solid #ccc;
}

header {
    background: #242a34;
    color: #fff;
    padding: 0px 0 25px;
}

header .logo {
    padding: 0 15px;
}

header .logo a {}

header .logo img {
    max-width: 140px;
    width: 95%;
}

header .addr {
    margin-top: 8px;
}

header .addr span {
    font-size: 12px;
    background: url(../img/ic/ic_addr.png) left center no-repeat;
    padding-left: 20px;
    line-height: 1.6;
    display: inline-block;
    float: left;
    clear: both;
    color: #bcbdbf;
}

header .addr a {
    color: #0078db;
    font-size: 12px;
    margin-left: 20px;
    background: url(../img/ic/ic_dd.png) right center no-repeat;
    padding-right: 14px;
    float: left;
    clear: both;
}

header .addr a:hover {}

header .addr .float {
    position: absolute;
    background: #fff;
    padding: 10px 20px 15px;
    z-index: 2;
    box-shadow: 0px 1px 12px -2px #333;
    left: 80px;
    display: none;
    top: 25px;
    border-radius: 3px;
}

header .addr .float ul li a {
    background: none;
    line-height: 1.8;
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
}

header .phone {
    border-left: 1px solid #50555d;
    margin-top: 9px;
}

header .phone p {
    font-size: 14px;
    line-height: 1;
    margin-bottom: -2px;
}

header .phone a {
    font-size: 12px;
    display: inline-block;
    line-height: 1;
    text-decoration: underline;
}

header .phone a:hover {
    text-decoration: none;
}

header .nav {
    margin-bottom: 20px;
    padding: 0 15px;
}

header .nav ul {
    height: 40px;
    border-bottom: 1px solid #50555d;
}

header .nav li {
    display: inline-block;
    margin-left: 40px;
}

header .nav li:first-of-type {
    display: inline-block;
    margin-left: 0;
}

header .nav li a {
    color: #b1b5bb;
    font-size: 13px;
    line-height: 40px;
}

header .login {
    text-align: right;
    margin-top: 9px;
    border-right: 1px solid #50555d;
}

header .login a {
    color: #bcbdbf;
    font-size: 12px;
    line-height: 1.2;
    display: inline-block;
    background: url(../img/ic/ic_user.png) 0px 2px no-repeat;
    padding-left: 17px;
    text-decoration: underline;
    width: 70px;
}

header .login a:hover {
    text-decoration: none;
}

header .exts {
    padding-left: 40px;
}

header .ext {
    padding: 0px 8px 0;
    margin-top: 6px;
    text-align: right;
}

header .ext:hover p a {
    text-decoration: underline;
}

header .ext p {
    color: #fff;
    font-size: 11px;
    line-height: 1.2;
    margin-bottom: 0;
    display: inline-block;
    width: inherit;
    text-align: left;
    vertical-align: middle;
    max-width: 65px;
}

header .ext p span {
    display: inline-block;
    width: 100%;
    color: #ffcf00;
}

header .ext p a {
    color: inherit;
    line-height: 1.2;
    border: none;
    text-align: left;
}

header .ext p a span {
    background: transparent;
    width: 100%;
    line-height: 1;
    margin: 0;
    color: #ffcf00;
    position: static;
    font-size: 11px;
    height: initial;
    display: inline-block;
}

header .ext a {
    text-align: center;
    position: relative;
    max-width: 100%;
    line-height: 32px;
    display: block;
    vertical-align: middle;
}
header .ext.cart a {
    display: inline-block;
}

header .ext a img {
    max-width: 100%;
    /*height: 26px;*/
    width: auto;
}

header .ext a span {
    position: absolute;
    top: 4px;
    left: 50%;
    margin-left: -25px;
    height: 18px;
    width: 18px;
    display: block;
    background: #8b8f94;
    border-radius: 100%;
    line-height: 18px;
    color: #000;
    font-size: 10px;
}

header .ext.cart > a span {
    background: #ffcf00;
}

footer {
    background: #242a34;
    padding: 45px 0 55px;
    color: #fff;
}

footer .logo {}

footer .logo a {}

footer .logo a img {
    max-width: 130px;
}

footer .logo p {
    color: #585d69;
    font-size: 13px;
    line-height: 1.4;
    width: 70%;
    margin-top: 20px;
}

footer .nav {
    padding: 0 15px;
}

footer .nav strong {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    margin-bottom: 18px;
    line-height: 1;
}

footer .nav ul {}

footer .nav ul li {
    line-height: 1;
    margin-bottom: 15px;
}

footer .nav ul li a {
    color: #585d69;
    font-size: 14px;
    text-transform: uppercase;
}

footer .info {}

footer .info strong {
    display: inline-block;
    width: 100%;
    margin-bottom: 18px;
    line-height: 1;
    font-size: 14px;
    text-transform: uppercase;
}

footer .info p {
    color: #585d69;
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 6px;
}

footer .info p a {
    color: currentColor;
    text-decoration: underline;
}

footer .info p a:hover {
    text-decoration: none;
}

footer .info p.phone {
    background: url(../img/ic/ic_phone-f.png) left center no-repeat;
    padding-left: 25px;
}

footer .info p.addr {
    background: url(../img/ic/ic_addr-f.png) left 5px no-repeat;
    padding-left: 25px;
}

footer .info p.mail {
    background: url(../img/ic/ic_mail-f.png) left center no-repeat;
    margin-bottom: 25px;
    padding-left: 25px;
}

footer .info ul {}

footer .info ul li {
    display: inline-block;
    margin-right: 5px;
    margin-top: 8px;
}

footer .info ul li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 28px;
    border: 2px solid #383b45;
    border-radius: 100%;
}

footer .info ul li a img {
    width: 100%;
    height: 100%;
}

footer .info ul li a:hover {
    border-color: #ffcf00;
}

main .breadcrumb {
    background: #fff;
    padding: 30px 0 90px;
}

iframe[name="google_conversion_frame"]{
    display: none;
}

.step_three_block{
    position: relative;
    width: 100%;
}

main .breadcrumb ul {}

main .breadcrumb ul li {
    display: inline-block;
}

main .breadcrumb ul li span {
    font-size: 13px;
    color: #111;
}

main .breadcrumb ul li a {
    font-size: 13px;
    color: #111;
    padding-right: 30px;
    position: relative;
}

main .breadcrumb ul li a:before {
    content: '>';
    position: absolute;
    right: 11px;
    font-size: 15px;
}

main .breadcrumb h1 {
    margin: 0;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-family: osb;
    line-height: 1.5;
}

main .title {
    text-align: center;
    line-height: 1;
    padding-bottom: 40px;
}

main .title h3 {
    font-size: 28px;
    color: #000;
    text-transform: uppercase;
    font-family: osb;
    line-height: 1;
}

.content.orders {
    margin-bottom: 70px;
}

.content.orders .item {
    margin-bottom: 60px;
}

.content.orders .item .dock {
    background: #0079d9;
    padding: 25px 0;
    color: #fff;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 15px -2px #989898;
}

.content.orders .item .dock div {
    border-left: 1px solid rgba(255, 255, 255, 0.41);
    padding: 0 10px 0 30px;
}

.content.orders .item .dock div:first-of-type {
    border-left: 0px solid rgba(255, 255, 255, 0.41);
    padding: 0 10px 0 30px;
}

.content.orders .item .dock div:nth-of-type(2) {
    border-left: 0px solid rgba(255, 255, 255, 0.41);
    padding: 0 10px 0 30px;
}

.content.orders .item .dock span {
    font-size: 11px;
    font-family: osl;
    line-height: 1;
    display: inline-block;
    width: 100%;
}

.content.orders .item .dock p {
    font-size: 14px;
    font-family: oss;
    line-height: 1;
    display: inline-block;
    width: 100%;
    color: #fff;
    margin-top: 24px;
    text-transform: uppercase;
}

.content.orders .item .dock p strong {
    font-size: 18px;
    vertical-align: top;
    line-height: 1;
    display: inline-block;
    margin-top: -4px;
    font-family: osb;
    font-weight: normal;
}

.content.orders .item .dock .target {
    background: url(../img/ic/ic_hide.png) center no-repeat;
    width: 100%;
    text-align: center;
    height: 56px;
    margin: 0;
}

.content.orders .item.open .dock .target {
    margin: 0;
    background: url(../img/ic/ic_show.png) center no-repeat;
    width: 100%;
    text-align: center;
    height: 56px;
}

.content.orders .body {
    display: none;
}

.content.orders .body button {
    width: 100%;
    background: transparent;
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    height: 40px;
    border: 3px solid #ffcf00;
    border-radius: 4px;
    padding: 0;
}

.content.orders .body button:hover {
    background: #ffcf00;
}

.content.orders .body .header {
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    color: #1d2027;
    text-transform: uppercase;
    font-size: 18px;
    font-family: osb;
    border-bottom: 1px solid #ccc;
}

.content.orders .body .centers {
    display: inline-block;
    width: 100%;
}

.content.orders .body .centers .items {
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    position: relative;
}

.content.orders .body .centers .items .title {
    text-align: left;
    padding-left: 0;
}

.content.orders .body .centers .items .title p {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5;
    font-family: osb;
    color: #1d2027;
    margin-bottom: 8px;
}

.content.orders .body .centers .items .title span {
    color: #535151;
    font-size: 14px;
    font-family: osl;
}

.content.orders .body .centers .items .info {}

.content.orders .body .centers .items .info img {}

.content.orders .body .centers .items .info p {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    color: #1d2027;
    font-size: 14px;
    font-family: osb;
}

.content.orders .body .centers .items .info p span {
    color: #535151;
    font-size: 14px;
    font-family: osl;
}

.content.orders .body .centers .items .rating {
    padding: 10px 0 0 30px;
}

.content.orders .body .centers .items .rating p {
    display: inline-block;
    color: #1d2027;
    font-size: 18px;
    font-family: osb;
}

.content.orders .body .centers .items .rating span {
    color: #535151;
    font-size: 14px;
    font-family: osl;
}

.content.orders .body .centers .items .button {
    padding-top: 13px;
    padding-right: 0;
}

.content.orders .body .glasses {}

.content.orders .body .glasses h3 {
    margin: 0;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    font-family: osb;
    padding: 0 0 30px;
    text-align: left;
}

.content.orders .body .glasses .items {
    padding: 30px 0 20px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.content.orders .body .glasses .items.total {
    border-bottom: none;
}

.content.orders .body .glasses .status {
    padding-left: 0;
}

.content.orders .body .glasses .status p {
    color: #242424;
    font-size: 14px;
    background: url(../img/ic/ic_check.png) left center no-repeat;
    padding-left: 20px;
    margin-bottom: 15px;
    font-family: osl;
    font-weight: normal;
}

.content.orders .body .glasses .img {
    padding-left: 0;
}

.content.orders .body .glasses .img img {
    margin-right: 15px;
    max-width: 45%;
}

.content.orders .body .glasses span {
    color: #535151;
    font-size: 14px;
    font-family: osl;
}

.content.orders .body .glasses p {
    color: #000;
    font-family: oss;
    line-height: 1.3;
    margin-bottom: 15px;
}

.content.orders .body .glasses strong {
    color: #0078db;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    line-height: 1;
    margin-bottom: 15px;
}

.content.orders .body .glasses button {}

.content.orders .body .glasses .last {
    padding-right: 0;
}

.content.orders .body .popup {
    position: absolute;
    right: 0px;
    bottom: 30px;
    background: #f2f2f2;
    padding: 50px 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 18px -8px #555;
    display: none;
}

.content.orders .body .centers .popup {
    bottom: 120px;
}

.content.orders .body .popup form > div {
    padding: 0 30px;
}

.content.orders .body .popup strong {
    text-transform: uppercase;
    color: #1d2027;
    font-size: 18px;
    margin-bottom: 35px;
    display: inline-block;
    width: 100%;
}

.content.orders .body .popup [type="text"] {
    height: 40px;
    padding: 0 45px 0 10px;
    border: none;
    border-radius: 4px;
    background: #fff;
    font: 14px/40px osr;
    color: #333;
    text-align: left;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    width: 75%;
    margin-bottom: 25px;
}

.content.orders .body .popup textarea {
    height: 100px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background: #fff;
    font: 14px/14px osr;
    color: #333;
    text-align: left;
    width: 100%;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    resize: none;
    margin-bottom: 22px;
}

.content.orders .body .popup [type="submit"] {
    width: 75%;
    height: 40px;
}

.content.orders .body .popup p {
    font-size: 14px;
    font-family: osl;
    line-height: 1.4;
    color: #535353;
    margin-top: 25px;
}

.content.orders .body .popup label {}

.content.orders .body .popup label input {
    display: none;
}

.content.orders .body .popup label p {
    margin: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin-right: 6px;
    font-size: 18px;
    cursor: pointer;
    color: #000;
}

.content.orders .body .popup label p:hover {
    box-shadow: 0px 0px 12px 0px #97c0ea;
}

.content.orders .body .popup label input:checked + p {
    background: #0079d9;
    color: #fff;
}

.content.orders .body .popup .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000;
    opacity: 1;
}

.content.choose_glass .body {
    display: inline-block;
    width: 100%;
    margin-bottom: 100px;
}

.content.choose_glass .body .centers .button span {
    color: #535151;
    font-size: 14px;
    font-family: osl;
}

.content.choose_glass .body .centers .button p {
    color: #000;
    font-family: oss;
    line-height: 1.3;
    margin-bottom: 15px;
}

.content.choose_glass .body .status label {
    width: 80%;
    height: 44px;
    margin-bottom: 20px;
}

.content.choose_glass .body .status label input {
    display: none;
}

.content.choose_glass .body .status label p {
    line-height: 44px;
    background: #fff url(../img/ic/ic_check-g.png) 15px center no-repeat !important;
    margin-bottom: 0px !important;
    padding-left: 40px !important;
    cursor: pointer;
}

.content.choose_glass .body .status label p:hover {
    box-shadow: 0px 0px 15px -5px #aaa;
}

.content.choose_glass .body .status label input:checked + p {
    background: #0079d9 url(../img/ic/ic_check-w.png) 15px center no-repeat !important;
    color: #fff;
}

.content.choose_glass .body .del {
    text-transform: capitalize;
    background: url(../img/ic/ic_x.png) left center no-repeat;
    line-height: 30px;
    display: inline-block;
    padding-left: 36px;
    font-size: 14px;
}

main .title .graphic {
    background: url(../img/steps.png) center no-repeat;
    width: 485px;
    height: 60px;
    display: inline-block;
    margin-bottom: 50px;
}

main .title .graphic.step1 {
    background: url(../img/steps1.png) center no-repeat;
}

main .title .graphic.step2 {
    background: url(../img/steps2.png) center no-repeat;
}

main .title .graphic.step3 {
    background: url(../img/steps3.png) center no-repeat;
}

main .title .graphic div {
    height: 100%;
}

main .title .graphic a {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 24px;
}

main .title .graphic div:nth-of-type(1) a {
    left: 50%;
    margin-left: -22px;
}

main .title .graphic div:nth-of-type(2) a {
    left: 50%;
    margin-left: -13px;
}

main .title .graphic div:nth-of-type(3) a {
    left: 50%;
    margin-left: -3px;
}

.content.compare {
    margin-bottom: 50px;
}

.content.compare .side {
    border-right: 1px solid #ccc;
    padding: 0;
}

.content.compare .side .block {
    border-bottom: 1px solid #ccc;
    padding: 0px 15px 20px 0;
}

.content.compare .side .block:last-of-type {
    border-bottom: 0px solid #ccc;
    padding: 20px 15px 10px 0;
}

.content.compare .side .block form {
    margin-bottom: 155px;
}

.content.compare .side .block form label {}

.content.compare .side .block form label input {
    display: none;
}

.content.compare .side .block form label p {
    color: #535151;
    font-size: 14px;
    font-family: osl;
    font-weight: normal;
    background: url(../img/ic/ic_radio.png) left center no-repeat;
    padding-left: 30px;
}

.content.compare .side .block form label input:checked + p {
    background: url(../img/ic/ic_radio-c.png) left center no-repeat;
}

.content.compare .side .block p {
    color: #535151;
    font-size: 14px;
    font-family: osl;
    font-weight: normal;
    line-height: 21px !important;
}

.content.compare .side .block p.title {
    text-align: left;
    padding: 0;
    line-height: 1.4;
    margin-bottom: 35px;
}

.content.compare .side .block p.rating {
    margin-bottom: 45px;
}

.content.compare .side .block p.img {
    margin-bottom: 180px;
}

.content.compare .side .block ul {}

.content.compare .side .block ul li {
    color: #535151;
    font-size: 14px;
    font-family: osl;
    font-weight: normal;
    line-height: 2;
}

.content.compare .body {
    padding: 0;
    overflow: auto;
}

.content.compare .body .item {
    border-right: 1px solid #ccc;
    padding: 0;
    width: 300px;
    float: left;
}

.content.compare .body .item .block {
    border-bottom: 1px solid #ccc;
    padding: 0px 30px 20px;
}

.content.compare .body .item .block:last-of-type {
    border-bottom: 0;
}

.content.compare .body .item .block .img {
    margin-bottom: 35px;
}

.content.compare .body .item .block .img img {
    width: 85px;
    float: left;
}

.content.compare .body .item .block .img p {
    padding-left: 110px;
    color: #000;
    font-size: 13px;
    font-family: oss;
    line-height: 1.3;
    height: 54px;
}

.content.compare .body .item .block .status {
    margin-bottom: 15px;
}

.content.compare .body .item .block .status p {
    color: #fff;
    font-size: 10px;
    line-height: 24px;
    background: #9d9d9d;
    display: inline-block;
    padding: 0 15px;
    border-radius: 6px;
}

.content.compare .body .item .block .price {
    font-size: 18px;
    font-family: osb;
    color: #000;
    margin-bottom: 15px;
}

.content.compare .body .item .block .action {
    margin-bottom: 7px;
}

.content.compare .body .item .block .action button {
    margin-right: 30px;
}

.content.compare .body .item .block .action a {
    color: #0078db;
    font-size: 14px;
    line-height: 32px;
    background: url(../img/ic/ic_del.png) left center no-repeat;
    padding-left: 21px;
}

.content.compare .body .item .block .title {
    padding: 20px 0 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: #1d2027;
    font-family: osb;
    line-height: 21px;
    text-align: left;
}

.content.compare .body .item .block .rating {
    margin-bottom: 30px;
}

.content.compare .body .item .block .rating img {
    float: left;
    margin-right: 20px;
}

.content.compare .body .item .block .rating p {
    color: #555;
    font-size: 14px;
    line-height: 1.2;
    font-family: osl;
}

.content.compare .body .item .block .rating p b {
    color: #000;
    font-size: 18px;
    line-height: 1.2;
    font-family: osb;
}

.content.compare .body .item .block .rating p span {
    color: #555;
    font-size: 13px;
    line-height: 1.2;
    font-family: osl;
}

.content.compare .body .item .block .sensor {
    margin-bottom: 40px;
    height: 150px;
}

.content.compare .body .item .block .sensor img {
    margin: 5px 12px;
    max-width: 37%;
}

.content.compare .body .item .block ul {}

.content.compare .body .item .block ul li {
    color: #535151;
    font-size: 14px;
    font-family: osl;
    font-weight: normal;
    line-height: 2;
}

.bg {
    background: #f2f2f2;
    width: 100%;
    display: block;
}


#gmap {
    width: 100%;
    height: 750px;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 65px;
}

.noactive_bg{
    display: none !important;
}

.noactive_gmap{
    position: absolute !important;
    left: 100% !important;
}

.lets{
    text-align: center;
}

.active_page_three{
    display: block !important;
}

.noactive_page_three{
    display: none !important;
}

.choose_glass {
    padding-bottom: 80px;
}

.choose_glass h3 {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 24px;
    font-family: osb;
    margin: 70px 0 30px;
    width: 100%;
    display: inline-block;
}

.choose_glass h3 + p {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-family: osr;
    width: 100%;
    display: inline-block;
    margin: 0 0 30px;
}

.choose_glass form {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.choose_glass form > div {
    margin: 0;
}

.choose_glass form select {
    background: #fff;
}

.choose_glass form select option {}

.choose_glass form a {
    position: relative;
}

.choose_glass form a.fancy:hover:before {
    content: '';
    position: absolute;
    background: url(../img/loop.png) center no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.choose_glass form a img {
    width: 100%;
    max-width: 100%;
}

.choose_glass form a:hover img {
    box-shadow: 0px 0px 15px -3px #418fdc;
}

.choose_glass form strong {
    font-size: 20px;
    font-family: osb;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    padding: 0 15px;
    color: #1d2027;
    margin: 50px 0 20px;
}

.choose_glass form p {
    display: inline-block;
    padding: 0 15px;
    text-align: center;
    width: 100%;
    margin: 70px 0 30px;
    font-size: 18px;
    font-family: osr;
    line-height: 1;
}

.choose_glass form button {
    height: 40px;
    padding: 0 30px !important;
    line-height: 40px;
}

.choose_glass form .butt {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 80px;
}

.choose_glass form button i {
    background: url(../img/ic/ic_butt.png) center no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 15px;
}

.choose_glass form span {
    font-size: 14px;
    font-family: osl;
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #535151;
}

.choose_glass form h4 {
    text-align: center;
    color: #1d2027;
    font-size: 18px;
    text-transform: uppercase;
    font-family: osb;
    line-height: 1;
    margin: 75px 0 35px;
}

.choose_glass form .centred {
    margin-left: 33.33333333%;
}

.checkblock {}

.checkblock > div {}

.checkblock > div .row {}

.checkblock > div .row label {
    margin-bottom: 30px;
}

.checkblock > div .row label input {
    display: none;
}

.checkblock > div .row label [type="checkbox"] + p {
    margin: 0;
    text-align: left;
    font-family: osl;
    font-weight: normal;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    padding: 0 15px 0 40px;
    background: #fff url(../img/ic/ic_check-g.png) 20px center no-repeat;
    cursor: pointer;
}

.checkblock > div .row label [type="checkbox"] + p:hover {
    box-shadow: 0px 0px 15px -3px #418fdc;
    background: #fff url(../img/ic/ic_check-b.png) 20px center no-repeat;
}

.checkblock > div .row label [type="checkbox"]:checked + p {
    background: #0079d9 url(../img/ic/ic_check-w.png) 20px center no-repeat;
    color: #fff;
}

.checkblock > div .row label [type="radio"] + p {
    margin: 0;
    text-align: left;
    font-family: osl;
    font-weight: normal;
    font-size: 12px;
    background: url(../img/ic/ic_radio.png) left center no-repeat;
    line-height: 24px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 0;
    cursor: pointer;
}

.checkblock > div .row label [type="radio"]:checked + p {
    background: url(../img/ic/ic_radio-c.png) left center no-repeat;
}

.checkblock > div .row [type="reset"] {
    background: none;
    border: none;
    color: #004e91;
    font-size: 14px;
    font-family: osl;
    font-style: italic;
    text-decoration: underline;
    float: right;
    margin: 90px 15px 0;
    cursor: pointer;
}

.checkblock > div .row [type="reset"]:hover {
    text-decoration: none;
}

.radioblock {}

.radioblock .item {}

.radioblock .item label:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px -3px #418fdc;
}

.radioblock .item label {
    background: #fff;
    padding: 30px 20px 30px 30px;
    min-height: 460px;
    text-align: left;
}

.radioblock .item label input {
    display: none;
}

.radioblock .item label input:checked + .title {
    background: url(../img/ic/ic_radio-c.png) left 4px no-repeat;
}

.radioblock .item label .title {
    margin: 0;
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 30px !important;
    width: 100%;
    margin-bottom: 22px;
    line-height: 1.4;
    background: url(../img/ic/ic_radio.png) left 4px no-repeat;
    padding-right: 0;
}

.radioblock .item label .price {
    margin: 0 0 17px;
    text-align: left;
    padding-left: 30px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}

.radioblock .item label .text {}

.radioblock .item label .text p {
    margin: 0 0 17px;
    text-align: left;
    padding-left: 30px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
    color: #515151;
    height: 130px;
    overflow: hidden;
}

.radioblock .item label .text p.show {
    height: auto;
}

.radioblock .item label .text a {
    color: #0079d9;
    font-size: 13px;
    font-weight: normal;
    padding: 0 0 0 30px;
    line-height: 17px;
    background: url(../img/ic/ic_more.png) right center no-repeat;
    padding-right: 25px;
    margin-bottom: 25px;
    display: inline-block !important;
    width: auto;
}

.radioblock .item label .text a.show {
    background: url(../img/ic/ic_less.png) right center no-repeat;
}

.radioblock .item label .text a span {
    border-bottom: 1px dashed currentColor;
    color: #0079d9;
    font-size: 13px;
    line-height: 1;
}

.radioblock .item label .text a:hover span {
    border-bottom: 1px dashed transparent;
}

.radioblock .item label .text a.hide {
    background: url(../img/ic/ic_less.png) right center no-repeat;
}

.radioblock .item label .img {
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.radioblock .item label .img img {
    margin-bottom: 5px;
    margin-right: 10px;
    max-width: 45%;
}

.ln {
    margin-bottom: 60px;
}

.ln input {
    display: none;
}

.ln p {
    font-size: 14px !important;
    font-weight: normal;
    margin: 0 !important;
    background: url(../img/ic/ic_radio.png) left center no-repeat;
    text-align: left !important;
    padding: 0 0 0 30px !important;
    line-height: 25px !important;
    cursor: pointer;
}

.ln input:checked + p {
    background: url(../img/ic/ic_radio-c.png) left center no-repeat;
}

.order_form {
    width: 66.66666667% !important;
    margin-bottom: 100px;
}

.order_form label {
    position: relative;
    margin-bottom: 0px;
}

.order_form label input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: normal;
    box-shadow: inset 1px 1px 2px #ddd;
    margin-bottom: 30px;
}

.order_form label input:focus {
    outline: none;
    box-shadow: 0px 0px 15px -3px #418fdc;
}

.order_form label span {}

.order_form label.req:before {
    content: '*';
    position: absolute;
    right: 3px;
    top: 0;
    line-height: 40px;
    color: #f00;
    font-weight: normal;
}

.order_form label textarea {
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: normal;
    box-shadow: inset 1px 1px 2px #ddd;
    resize: none;
    margin-bottom: 5px;
}

.order_form label textarea:focus {
    outline: none;
    box-shadow: 0px 0px 15px -3px #418fdc;
}

.order_form div > span {
    text-align: left;
    padding: 0 15px;
    margin: 0 0 40px;
}

.order_form div > span i {
    color: #f00;
}

.order_form button {
    padding: 0 100px !important;
}

.order_form + span {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #535151;
    font-size: 14px;
    font-family: osl;
    padding: 0 15px;
}

.content.orders .body .glasses .total p {
    font-size: 16px;
}

.choose_glass .butt button {
    display: inline-block;
}

.choose_glass .butt p {
    display: inline-block;
    width: auto;
    margin: 0 15px;
    font-size: 16px;
    font-family: oss;
}

.choose_glass .butt p.title {
    width: 100%;
    margin: 50px 0 40px;
    font-family: osr;
    font-weight: 500;
}

.res_search {
    display: inline-block;
    width: 100%;
    margin-top: 100px !important;
}

.res_search h3 {
    margin: 0 0 45px;
}

.choose_glass .sorter_dock {
    text-align: left;
    margin-bottom: 30px;
}

.choose_glass .sorter_dock a {
    display: inline-block;
    width: auto;
    font-size: 14px;
    color: #535151;
    margin: 0 30px 0px 0;
}

.choose_glass .sorter_dock a:hover {}

.choose_glass .sorter_dock p {
    display: inline-block;
    width: auto;
    font-size: 14px;
    color: #535151;
    margin: 0 30px 0px 0;
}

.res_search .result {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.res_search .result .item {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-bottom: 20px;
}

.res_search .result .item .clickable {
    display: inline-block;
}

.res_search .result .item:hover {
    outline: 3px #ffcf00 solid;
    border-bottom: 1px transparent solid;
}

.res_search .result .item .show {
    background: url(../img/ic/ic_more.png) center no-repeat;
    display: inline-block !important;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    float: left;
    margin: 18px 15px;
}

.res_search .result .item .show.less {}

.res_search .result .item .img img {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    max-width: 69px;
}

.res_search .result .item .title {
    padding-left: 0;
    padding-bottom: 0;
}

.res_search .result .item .title strong {
    margin: 0;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding: 0;
    cursor: pointer;
}

.res_search .result .item .title p {
    color: #808080;
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

.res_search .result .item .rating {}

.res_search .result .item .rating img {
    display: inline-block;
    margin-bottom: 15px;
    max-width: 100%;
    margin-top: 4px;
}

.res_search .result .item .rating p {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 14px;
    line-height: 1.2;
    vertical-align: middle;
    width: 40%;
}

.res_search .result .item .rating p b {
    font-size: 18px;
}

.res_search .result .item .rating p span {
    width: auto;
    font-size: 14px;
    font-family: osl;
}

.res_search .result .item p.label {
    margin: 0;
    font-size: 11px;
    background: #aaa;
    font-weight: normal;
    text-align: right;
    float: right;
    width: auto;
    padding: 0 10px;
    line-height: 23px;
    border-radius: 6px;
    position: relative;
    top: -35px;
    min-width: 100px;
    text-align: center;
}

.res_search .result .item p.label.sale {
    background: #d74343;
}

.res_search .result .item p.label.ok {
    background: #43d75b;
}

.res_search .result .item p.label.wait {
    background: #e1e82f;
    color: #555;
}

.res_search .result .item p.price {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #000;
    font-family: oss;
    margin-bottom: 15px;
}

.res_search .result .item p.price.old {
    margin: 0 0 5px !important;
    padding: 0;
    text-align: left;
    color: #505050;
    font-size: 13px;
    text-decoration: line-through;
    font-family: osl;
}

.res_search .result .item button {
    float: left;
    margin-bottom: 15px;
    white-space: nowrap;
}

.res_search .result .item a.compare {
    width: auto;
    float: left;
    background: url(../img/ic/ic_cmp.png) left center no-repeat;
    line-height: 21px;
    display: inline-block;
    padding-left: 30px;
    color: #0078db;
}

.res_search .result .item a.compare span {
    color: #0078db;
    font-family: osr;
}

.res_search .result .item a.compare:hover span {
    text-decoration: underline;
}

.res_search .result .body {
    margin-bottom: 0;
    background: #fff;
    padding: 20px 0 50px;
    display: none;
}

.res_search .result .body .tabs {
    padding-right: 30px;
}

.res_search .result .body .tabs ul {
    border-bottom: #f2f2f2 1px solid;
}

.res_search .result .body .tabs li {}

.res_search .result .body .tabs li a {
    font-size: 18px;
    font-family: osb;
    color: #d2d2d2;
    padding: 10px 25px;
    border-radius: 13px 13px 0 0;
}

.res_search .result .body .tabs li a:hover {
    background: #fcfcfc;
    border-color: #fcfcfc;
    color: #bbb;
    box-shadow: inset 0px -2px 9px -4px #adadad;
}

.res_search .result .body .tabs li.active a {
    background: #f2f2f2;
    border-color: #f2f2f2;
    color: #000;
}

.res_search .result .body .tabs .tab-content {
    background: #f2f2f2;
    padding: 30px 30px;
    border-radius: 0 0 13px 13px;
}

.res_search .result .body .tabs .tab-content .tab-pane table {
    width: 100%;
}

.res_search .result .body .tabs .tab-content .tab-pane table tr td {
    width: 50%;
    line-height: 26px;
    font-size: 14px;
    color: #505050;
}

.res_search .result .body .text {
    border-left: 1px solid #ccc;
    padding: 10px 0 30px;
    padding-left: 30px;
    text-align: left;
    margin-top: 6px;
}

.res_search .result .body .text strong {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
    line-height: 1;
}

.res_search .result .body .text p {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.res_search .result .body .text button {
    padding: 0 30px 0 40px;
    max-width: 100%;
    margin-bottom: 0;
}

.res_search .result .body .text button i {}

.res_search .result .item.open {
    padding-bottom: 0;
    background: #fff;
    outline: 3px #ffcf00 solid;
    border-bottom: none;
}

.res_search .result .item.open a.show {
    background: url(../img/ic/ic_less.png) center no-repeat;
}

.res_search .result .item.open .body {
    display: inline-block;
    width: 100%;
}

.choose_center {
    padding: 0 15px 100px;
}

.choose_center h3 {
    font-size: 24px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-family: osb;
    line-height: 1;
    margin: 65px 0 20px;
}

.view_nav {
    float: right;
    margin-bottom: 20px;
}

.view_nav ul {}

.view_nav ul li {
    float: left;
    position: relative;
}

.view_nav ul li a {
    line-height: 49px;
    padding: 0 20px;
    background: #f3f3f3;
    background: -moz-linear-gradient(top, #f3f3f3 0%, #c8c8c8 100%);
    background: -webkit-linear-gradient(top, #f3f3f3 0%, #c8c8c8 100%);
    background: linear-gradient(to bottom, #f3f3f3 0%, #c8c8c8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#c8c8c8', GradientType=0);
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #bdbdbd;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

.view_nav ul li a:hover {
    line-height: 49px;
    padding: 0 20px;
    background: #c8c8c8;
    background: -moz-linear-gradient(top, #c8c8c8 0%, #f3f3f3 100%);
    background: -webkit-linear-gradient(top, #c8c8c8 0%, #f3f3f3 100%);
    background: linear-gradient(to bottom, #c8c8c8 0%, #f3f3f3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#f3f3f3', GradientType=0);
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #bdbdbd;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.view_nav ul li a img {
    vertical-align: baseline;
    margin-right: 7px;
}

.view_nav ul li a img span {}

.view_nav ul li.active {}

.view_nav ul li.active:after {
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid #FFD700;
    top: 50px;
    left: 50%;
    margin-left: 0px;
}

.view_nav ul li.active a {
    background: #ffca00;
    background: -moz-linear-gradient(top, #ffca00 0%, #ffd800 100%);
    background: -webkit-linear-gradient(top, #ffca00 0%, #ffd800 100%);
    background: linear-gradient(to bottom, #ffca00 0%, #ffd800 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffca00', endColorstr='#ffd800', GradientType=0);
    color: #1d2027;
    box-shadow: inset 0 1px 0 0 #cca200;
    line-height: 50px;
}

.view_nav ul li.active a:hover {
    background: #ffca00;
    background: -moz-linear-gradient(top, #ffca00 0%, #ffd800 100%);
    background: -webkit-linear-gradient(top, #ffca00 0%, #ffd800 100%);
    background: linear-gradient(to bottom, #ffca00 0%, #ffd800 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffca00', endColorstr='#ffd800', GradientType=0);
    color: #1d2027;
    box-shadow: inset 0 1px 0 0 #cca200;
    line-height: 50px;
    text-decoration: none;
    cursor: default;
}

.view_nav ul li.active a img {}

.view_nav ul li.active a img span {}

.choose_center .sorter_dock {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.choose_center .sorter_dock p {
    display: inline-block;
    font-size: 14px;
    font-family: osl;
    color: #535151;
    margin-right: 50px;
}

.choose_center .sorter_dock a {
    display: inline-block;
    font-size: 14px;
    font-family: osl;
    color: #555;
    margin-right: 50px;
}

.choose_center .result_centers {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 65px;
}

.choose_center .result_centers .item {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-radius: 4px;
    float: left;
    border-bottom: 1px solid #ccc;
}

.choose_center .result_centers .item a.show {
    background: url(../img/ic/ic_more.png) center no-repeat;
    width: 17px;
    height: 17px;
    margin: 8px auto;
}

.choose_center .result_centers .item.open a.show {
    background: url(../img/ic/ic_less.png) center no-repeat;
    width: 17px;
    height: 17px;
    margin: 8px auto;
}

.choose_center .result_centers .item .title {
    text-align: left;
    padding: 0 15px;
    display: inline-block !important;
}

.choose_center .result_centers .item .title strong {
    font-size: 18px;
    line-height: 1.5;
    color: #1d2027;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font-family: osb;
    font-weight: normal;
    text-transform: uppercase;
}

.choose_center .result_centers .item .title p {
    color: #515151;
    font-size: 14px;
    font-family: osl;
    margin-bottom: 0;
}

.choose_center .result_centers .item span {
    color: #505050;
    font-family: osl;
    line-height: 1;
}

.choose_center .result_centers .item p {
    color: #111;
    font-family: oss;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 1;
}

.choose_center .result_centers .item strong {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    color: #0078db;
}

.choose_center .result_centers .item button {
    margin-bottom: 15px;
    line-height: 40px;
    height: 42px;
    padding: 0 25px;
    max-width: 100%;
    text-align: center;
}

.choose_center .result_centers .item a {
    background: url(../img/ic/ic_star.png) left center no-repeat;
    padding-left: 25px;
}

.choose_center .result_centers .item.open {
    background: #fff;
    outline: 3px #ffcf00 solid;
    padding-bottom: 40px;
}

.choose_center .result_centers .item.open .body {
    display: inline-block;
    width: 100%;
    padding: 20px 0 0;
}

.choose_center .result_centers .item .body {
    display: none;
}

.choose_center .result_centers .item .body .row > div > div {
    margin-bottom: 35px;
    padding-left: 120px;
}

.choose_center .result_centers .item .body .title {
    padding-bottom: 0;
    padding-left: 0 !important;
}

.choose_center .result_centers .item .body .title img {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.choose_center .result_centers .item .body .title p {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    width: initial;
    margin-left: 50px;
    max-width: 150px;
}

.choose_center .result_centers .item .body .title p b {
    color: #000;
    display: inline-block;
    width: 100%;
}

.choose_center .result_centers .item .body .title p strong {
    width: auto;
    font-size: 16px;
    margin: 0;
}

.choose_center .result_centers .item .body .title p span {
    color: #534343;
    font-size: 12px;
}

.choose_center .result_centers .item .body div p {
    margin-bottom: 0;
    line-height: 1.5;
    color: #505050;
    font-family: osr;
}

.choose_center .result_centers .item .body div p b {
    color: #333;
}

.choose_center .result_centers .item .body div.pay {
    display: inline-block;
    width: 100%;
}

.choose_center .result_centers .item .body div.pay .left {
    float: left;
    width: 25%;
}

.choose_center .result_centers .item .body div.pay .right {
    float: left;
    width: 75%;
}

.choose_center .result_centers .item .body div.pay .right img {
    margin: 5px 1px 0;
}

.choose_center .result_centers .item .body div.ext {
    display: inline-block;
    width: 100%;
}

.choose_center .result_centers .item .body div.ext strong {
    float: left;
    width: 20%;
    font-size: 14px;
    color: #000;
}

.choose_center .result_centers .item .body div.ext strong img {
    margin-right: 5px;
}

.choose_center .result_centers .item .body div.review h4 {
    margin: 0;
    font-size: 18px;
    color: #1d2027;
    text-transform: uppercase;
    font-family: osb;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    line-height: 1;
}

.choose_center .result_centers .item .body div.review .item {
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.choose_center .result_centers .item .body div.review .item .title {
    float: left;
    width: 50%;
}

.choose_center .result_centers .item .body div.review .item .title strong {
    font-size: 14px;
    text-transform: none;
    line-height: 1.4;
    margin-bottom: 0px;
}

.choose_center .result_centers .item .body div.review .item .title p {
    font-size: 12px;
    color: #808080;
    padding: 0;
    margin: 0;
}

.choose_center .result_centers .item .body div.review .item .rating {
    float: left;
    width: 50%;
    text-align: right;
}

.choose_center .result_centers .item .body div.review .item .rating strong {
    color: #000;
    font-size: 18px;
    line-height: 1;
    margin: 0;
}

.choose_center .result_centers .item .body div.review .item .text {
    padding: 20px 0 0;
    display: inline-block;
    width: 100%;
}

.choose_center .result_centers .item .body div.review .item .text p {
    margin-bottom: 15px;
}

.choose_center .result_centers .item .body div.photo {
    float: left;
    width: 60%;
    margin-bottom: 0 !important;
    margin-top: 40px;
}

.choose_center .result_centers .item .body div.photo strong {
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
}

.choose_center .result_centers .item .body div.photo a {
    background: none;
    padding: 0;
    float: left;
    width: 213px;
    margin-right: 5px;
    position: relative;
    max-width: 70%;
}

.choose_center .result_centers .item .body div.photo a:hover:before {
    content: '';
    position: absolute;
    background: url(../img/loop.png) center no-repeat;
    display: block;
    width: 59px;
    height: 59px;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
}

.choose_center .result_centers .item .body div.photo a img {
    width: 100%;
}

.choose_center .result_centers .item .body div.photo ul {
    float: left;
    width: 66px;
    max-width: 27%;
}

.choose_center .result_centers .item .body div.photo ul li {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.choose_center .result_centers .item .body div.photo ul li a {
    width: 100%;
    margin: 0;
    max-width: 100%;
}

.choose_center .result_centers .item .body div.photo ul li a img {}

.choose_center .result_centers .item .body div.videos {
    float: left;
    width: 40%;
    padding: 0 !important;
    margin: 40px 0 0 !important;
}

.choose_center .result_centers .item .body div.videos strong {
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
}

.choose_center .result_centers .item .body div.videos video {
    max-width: 100%;
}

.choose_center .butt {
    text-align: center;
}

.choose_center .butt .title {
    margin-bottom: 35px;
    font-size: 18px;
    font-family: osr;
    padding: 0;
    width: 100%;
    margin: 0 0 35px;
    text-transform: none;
}

.choose_center .butt button {
    padding: 0 50px;
    height: 40px;
}

.choose_center .butt p {
    display: inline-block;
    font-size: 14px;
    font-family: oss;
    margin: 0 15px;
    text-transform: uppercase;
}

.choose_center .butt + span {
    font-size: 16px;
    font-family: osl;
    color: #808080;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 70px;
}

.stick {
    position: fixed;
    bottom: 0;
    left: 50px;
    width: auto;
    color: #fff;
    z-index: 99;
}

.stick .item.open .title {
    display: inline-block;
    width: 100%;
}

.stick .item .title {
    display: none;
}

.stick .item.open .glass {
    display: inline-block;
    width: 100%;
}

.stick .item .glass {
    display: none;
}

.stick .item.open .center {
    display: inline-block;
    width: 100%;
}

.stick .item .center {
    display: none;
}

.stick .item .active {
    padding-bottom: 10px !important;
    border: none !important;
    cursor: pointer;
}

.stick .item.open .active {
    padding-bottom: 25px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
    cursor: default;
}

.stick .item {
    padding: 0 20px;
    width: 260px;
    display: inline-block;
    background: #0079d9;
    margin-right: 3px;
    vertical-align: bottom;
}

.stick .item > div {
    padding: 15px 0px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
}

.stick .item > div.title {
    border: none;
}

.stick .item > div.title a {
    background: url(../img/ic/ic_show.png) center no-repeat;
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 0px;
    top: 30px;
}

.stick .item > div.title p {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    padding: 15px 0;
}

.stick .item > div.active {}

.stick .item > div.active p {
    font-size: 11px;
    color: #eee;
    line-height: 1;
    margin-bottom: 15px;
    font-family: osl;
}

.stick .item > div.active strong {
    line-height: 1;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
}

.stick .item > div.active a {
    top: 41px;
}

.stick .item > div.glass {
    padding-bottom: 10px;
}

.stick .item > div.glass > p {
    font-size: 11px;
    color: #eee;
    line-height: 1;
    margin-bottom: 25px;
    font-family: osl;
}

.stick .item > div.glass > div {
    position: relative;
    margin-bottom: 15px;
}

.stick .item > div.glass > div strong {
    text-transform: uppercase;
    font-size: 12px;
}

.stick .item > div.glass > div p {
    font-size: 13px;
    font-family: osl;
}

.stick .item > div.glass > div ul {
    margin-top: 10px;
}

.stick .item > div.glass > div ul li {
    display: inline-block;
    width: 100%;
}

.stick .item > div.glass > div ul li img {
    width: 48px;
    float: left;
}

.stick .item > div.glass > div ul li p {
    padding-left: 60px;
    line-height: 1.3;
}

.stick .item > div.glass > div ul li p b {
    display: inline-block;
    width: 100%;
    line-height: 1;
}

.stick .item > div.glass > div ul li p span {
    font-size: 12px;
    text-decoration: line-through;
    color: #ccc;
}

.stick .item > div.glass > div a {
    top: 1px;
}

.stick .item > div.center {}

.stick .item > div.center > p {
    font-size: 11px;
    color: #eee;
    line-height: 1;
    margin-bottom: 25px;
    font-family: osl;
}

.stick .item > div.center > div {
    position: relative;
}

.stick .item > div.center > div strong {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    line-height: 1.3;
    margin-bottom: 10px;
    width: 90%;
}

.stick .item > div.center > div span {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    line-height: 1.3;
    margin-bottom: 10px;
    font-family: osl;
}

.stick .item > div.center > div p {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    line-height: 1.3;
    margin-bottom: 10px;
}

.stick .item > div.center > div a {
    top: 2px;
}

.stick .edit {
    position: absolute;
    width: 17px;
    height: 17px;
    display: block;
    background: url(../img/ic/ic_edit.png);
    right: 0px;
    opacity: .5;
}

.stick .edit:hover {
    opacity: 1;
}

.map_place{
    position: relative;
    z-index: 55;
}

.left_view_nav{
    position: relative;
    z-index: 2000;
}

.container >.title_step_three{
    text-align: center;
}


.modal {}

.modal .modal-content {
    border-radius: 0;
    background: #f2f2f2;
}

.modal .modal-content .modal-body {
    display: inline-block;
    width: 100%;
    padding: 0;
}

.modal .modal-content .modal-body > button {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    opacity: 1;
    z-index: 15;
    cursor: pointer;
}

.modal .modal-content .modal-body > form {
    float: left;
    width: 100%;
    text-align: center;
    padding: 60px;
}

.modal .modal-content .modal-body > form h3 {
    margin: 0 0 40px;
    font-size: 24px;
    font-family: osb;
    text-transform: uppercase;
    color: #000;
    line-height: 1;
}

.modal .modal-content .modal-body > form p {
    color: #535353;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.modal .modal-content .modal-body > form [type="text"] {
    width: 100%;
    height: 44px;
    margin-bottom: 30px;
    border: none;
    padding: 0 15px;
    border-radius: 6px;
    box-shadow: inset 0px 1px 5px -2px #555;
}

.modal .modal-content .modal-body > form [type="submit"] {
    height: 40px;
    width: 70%;
}

header.mobile {
    padding: 20px 0;
}

header.mobile .nav {
    float: left;
    width: 15%;
    text-align: center;
    margin-bottom: 0;
}

header.mobile .nav a {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    line-height: 40px;
}

header.mobile .logo {
    float: left;
    width: 85%;
    text-align: center;
}

header.mobile .logo img {
    height: 40px;
    width: initial;
    max-width: inherit;
}

menu.mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    height: 100%;
    background: #242a34;
    z-index: 999;
    box-shadow: 0px 3px 10px #000;
    margin: 0;
    padding: 0;
    display: none;
}

menu.mobile > div {
    padding: 20px;
    border-bottom: 1px solid #134267;
    color: #fff;
}

menu.mobile > div.addr {}

menu.mobile > div.addr span {
    font-size: 11px;
    display: inline-block;
    width: 65px;
    line-height: 20px;
}

menu.mobile > div.addr select {
    color: #ccc;
    background: transparent;
    border: none;
    height: 20px;
    width: 120px;
    margin-left: 10px;
    font-size: 11px;
    line-height: 20px;
}

menu.mobile > div.phone {
    border-bottom: 0;
    padding-bottom: 0;
}

menu.mobile > div.phone p {
    font-size: 20px;
    line-height: 1;
}

menu.mobile > div.phone a {
    margin-right: 10px;
    font-size: 13px;
    line-height: 2;
}

menu.mobile > div.lk {
    display: inline-block;
    width: 100%;
}

menu.mobile > div.lk > div {}

menu.mobile > div.lk > div.login {
    margin-bottom: 10px;
}

menu.mobile > div.lk > div.ext {
    float: left;
    width: 23%;
    text-align: center;
}

menu.mobile > div.lk > div.ext.cart {
    float: left;
    width: 54%;
    text-align: center;
}

menu.mobile > div.lk > div.ext p {
    text-align: center;
    font-size: 11px;
    display: inline-block;
    width: inherit;
    vertical-align: middle;
}

menu.mobile > div.lk > div.ext p span {
    display: inline-block;
    width: 100%;
}

menu.mobile > div.lk > div.ext a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

menu.mobile > div.lk > div.ext a img {
    width: 21px;
}

menu.mobile > div.lk > div.ext a span {
    position: absolute;
    left: -11px;
    display: block;
    width: 20px;
    height: 20px;
    background: yellow;
    border-radius: 100%;
    line-height: 19px;
    color: #000;
    font-size: 11px;
    top: -5px;
}

menu.mobile > div.lk > div.ext p a {
    color: inherit;
    line-height: 1.2;
    border: none;
}

menu.mobile > div.lk > div.ext p a span {
    background: transparent;
    width: 100%;
    line-height: 1;
    margin: 0;
    color: #ffcf00;
    position: static;
    font-size: 11px;
    height: initial;
    display: inline-block;
}

menu.mobile > div.lk > div.login a {}

menu.mobile > div.nav-nav {
    border-bottom: 0;
}

menu.mobile > div.nav-nav ul {}

menu.mobile > div.nav-nav ul li {}

menu.mobile > div.nav-nav ul li a {
    color: #fff;
    font-size: 18px;
    line-height: 2;
}

footer.mobile {
    padding: 30px 0;
}

footer.mobile .logo {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 50px;
}

footer.mobile .logo img {
    max-width: 100%;
}

footer.mobile .nav {}

footer.mobile .nav ul {
    text-align: center;
}

footer.mobile .nav li {
    display: inline-block;
    margin: 0 10px 10px;
}

footer.mobile .nav li a {
    color: #9197ad;
    text-transform: none;
    font-size: 10px;
}

.choose_center.map {
    padding-bottom: 10px !important;
}

.choose_center.bmap {
    padding-top: 40px !important;
}

.map_info {
    padding: 10px 10px 20px 40px;
    max-width: 300px;
}

.map_info > div {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    max-width: 250px;
}

.map_info h3 {
    margin: 5px 0 25px;
    font-size: 14px;
    font-family: oss;
    line-height: 1;
}

.map_info p {
    margin-bottom: 20px;
    color: #505050; font-size: 14px;
    line-height: 1.4;
}

.map_info p b {}

.map_info p span {
    font-size: 12px;
    font-family: osl
}

.map_info p strong {
    display: inline-block;
    width: 100%;
    color: #0078db;
    font-size: 19px;
}

.map_info button {
    float: left;
    clear: both;
}

.map_info a {
    float: left;
    clear: both;
    margin-top: 21px;
    margin-bottom: 21px;
    background: url(../img/ic/ic_star.png) left center no-repeat;
    line-height: 20px;
    padding-left: 25px;
}

#map_place {
    width: 100%;
    height: 100%;
}

#gmap .view_nav {
    position: absolute;
    top: 0;
    z-index: 9;
    top: 30px;
    left: 50px;
}

#gmap .legend {
    position: absolute;
    z-index: 9;
    bottom: 30px;
    left: 50px;
    background: rgba(0, 0, 0, 0.55);
    padding: 20px 30px;
    border-radius: 5px;
    color: #fff;
}

#gmap .legend ul {}

#gmap .legend ul li {
    display: inline-block;
    margin-right: 20px;
}

#gmap .legend ul li img {
    display: inline-block;
}

#gmap .legend ul li p {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

form.link-select {
    position: relative;
}

form.link-select fieldset {
    position: static;
}

form.link-select fieldset > a {
    width: 100%;
    height: 40px;
    background: #fff url(../img/ic/ic_dd.png) 95% center no-repeat;
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
    font-family: osl;
    text-align: left;
    color: #535353;
    padding: 0 15px;
    border-radius: 6px;
    box-shadow: inset 1px 1px 3px 0px #ccc;
    margin-bottom: 20px;
}

form.link-select fieldset > a:hover {
    text-decoration: none;
    box-shadow: 0px 0px 14px -3px rgba(0, 121, 217, 0.7);
}

form.link-select fieldset > a:focus,
form.link-select fieldset > a:active {
    text-decoration: none;
}

form.link-select fieldset > a.show:before {
    content: '';
    position: absolute;
    border: 18px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: -20px;
    left: 50%;
    margin-left: -18px;
    z-index: 101;
}

form.link-select fieldset > a.show + .s_popup {
    /*display: block;*/
}

form.link-select fieldset > .s_popup {
    position: absolute;
    z-index: 99;
    background: #fff;
    width: 1140px;
    left: 15px;
    top: 60px;
    box-shadow: 0px 2px 10px -1px #999;
    padding: 20px;
    display: none;
}

form.link-select fieldset > .s_popup > div {
    padding: 0;
}

form.link-select fieldset > .s_popup > div a {
    display: inline-block;
    line-height: 40px;
    text-align: left;
    width: 100%;
    padding: 0 15px 0 30px;
    color: #000;
    font-size: 14px;
    font-family: osl;
    background: url(../img/ic/ic_check.png) 10px center no-repeat;
}

form.link-select fieldset > .s_popup > div a:hover {
    color: #fff;
    background: #0079d9 url(../img/ic/ic_check-w.png) 10px center no-repeat;
    text-decoration: none;
    box-shadow: 0px 0px 7px 0px #999;
}

.payment_form {
    width: 100% !important;
}

.payment_form label {
    margin-bottom: 20px;
}

.payment_form label input {
    display: none;
}

.payment_form label p {
    margin: 0 0 30px;
    width: 100%;
    background: #fff url(../img/ic/ic_radio.png) 20px center no-repeat;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;
    box-shadow: 0px 0px 10px -3px #999;
}

.payment_form label p:hover {
    box-shadow: 0px 0px 12px -3px #398fd6;
    cursor: pointer;
}

.payment_form label p img {
    max-width: 100%;
    width: 75px;
}

.payment_form label input:checked + p {
    background: #fff url(../img/ic/ic_radio-c.png) 19px center no-repeat;
}

.breadcrumb + .choose_glass .res_search {margin-top: 0 !important;}

.btn-compare {
    display: inline-block;
    width: 21px;
    height: 17px;
    background: url('../img/ic/ic_cmp.png') 0 0 no-repeat;
    margin: 0 9px;
}
.btn-star {
    display: inline-block;
    width: 18px;
    height: 19px;
    background: url('../img/ic/icon-star.png') 0 0 no-repeat;
    margin: 0 9px;
}

.btn-delete-elected {
    display: inline-block;
    padding-left: 40px;
    line-height: 29px;
    color: #0078db;
    font-size: 14px;
    background: url('../img/ic/icon-delete.png') 0 0 no-repeat;
    margin-top: 15px;
}

.choose_glass .title strong {
    font-size: 20px;
    font-family: osb;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    padding: 0 15px;
    color: #1d2027;
    margin: 50px 0 20px;
}

.modal h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    font-family: 'osb';
    padding: 45px 0 20px 0;
    text-align: center;
}

.modal .modal-header {
    border: none;
}
.modal button.close {
    font-size: 24px;
    color: #000;
    font-family: 'osb';
    opacity: 1;
}
.modal form {
    display: block;
    width: 100%;
}
.modal .modal-body {
    padding: 0 15px !important;
}

.modal-login-body {
    padding: 15px 0 30px 0;
}

.modal-login-body .form-control {
    height: 40px;
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(63,92,106,0.2) inset;
}

.modal-login-body-padd {
    padding: 0 35px;
}
.modal-login-body-padd .btn-primary {
    height: 40px;
}