@media (max-width: 1199px) {
    form.link-select fieldset > .s_popup {
        width: 940px;
    }
    .res_search .result .item button {
        padding: 0 20px;
    }
    .choose_glass form p {
        font-size: 15px;
    }
    header .ext a {
        border: none;
    }
    .content.orders .body button {
        font-size: 13px;
    }
    footer .nav ul li a {
        font-size: 12px;
    }
    .checkblock > div .row label [type="radio"] + p {
        font-size: 10px;
    }
    .checkblock > div .row label [type="checkbox"] + p {
        font-size: 12px;
    }
    .res_search .result .body .text button {
        padding: 0 20px 0 25px;
    }
    .choose_center .result_centers .item .body .title p {
        margin-left: 30px;
    }
    .choose_center .result_centers .item .body div.pay .right img {
        width: 65px;
    }
    .choose_center .result_centers .item button {
        padding: 0 15px;
    }
    .radioblock .item label .title {
        font-size: 14px;
        height: 40px;
    }
    .payment_form label p {
        padding: 0 10px;
    }
    .payment_form label p img {
        width: 64px;
    }
}

@media (max-width: 991px) {
    form.link-select fieldset > .s_popup {
        width: 720px;
        top: -100px;
    }
    .order_form {
        width: 100% !important;
    }
    .content.choose_glass .body .status label {
        height: 34px;
        margin-bottom: 11px;
    }
    .content.choose_glass .body .status label p {
        line-height: 34px;
    }
    .choose_glass {
        padding-bottom: 50px;
    }
    .content.choose_glass .body {
        margin-bottom: 50px;
    }
    header .nav {
        padding: 0 15px;
    }
    header .nav .nav-nav ul {
        margin-top: 20px;
        text-align: left;
    }
    header .login {
        padding: 0 15px;
    }
    header .exts {
        padding-left: 30px;
    }
    header .logo a {
        display: block;
        margin-top: 17px;
    }
    header .ext.cart {
        display: inline-block;
    }
    .content.orders .item .dock p {
        font-size: 11px;
    }
    .content.orders .item .dock div {
        padding: 0 10px !important;
    }
    .content.orders .body .centers .items .title p {
        font-size: 15px;
    }
    .content.orders .body .glasses span {
        font-size: 12px;
    }
    .content.compare .body .item .block .sensor img {
        margin: 5px;
    }
    .choose_glass form .centred {
        margin-left: 25% !important;
    }
    .radioblock .item label .title {
        line-height: 30px;
        display: inline-block !important;
    }
    .radioblock .item label .text p {
        height: 80px;
        line-height: 1.5;
    }
    .radioblock .item label {
        min-height: auto;
        padding-bottom: 0;
    }
    .res_search .result .item button {
        float: right;
        clear: both;
    }
    .res_search .result .item a.compare {
        float: right !important;
        clear: both;
        padding-right: 0;
    }
    .res_search .result .item .title strong {
        font-size: 15px;
    }
    .res_search .result .body .tabs,
    .res_search .result .body .text {
        padding: 30px 30px 0;
    }
    .choose_center .result_centers .item .body .title {
        padding: 0 15px !important;
    }
    .choose_center .result_centers .item .body .title p {
        margin-left: 15px;
    }
    .choose_center .result_centers .item .body div.ext strong {
        width: 50%;
    }
    .choose_center .result_centers .item .body div.pay .right img {
        width: 55px;
    }
    .choose_center .result_centers .item .body div.review .item .title {
        padding: 0 !important;
    }
    .choose_center .result_centers .item .body div.review {
        padding: 0 15px 0 0;
    }
    .choose_center .result_centers .item .title strong {
        font-size: 15px;
    }
}

@media (min-width: 767px) {
    .modal-login-body {
        padding: 35px 85px 60px 85px !important;
    }
    .modal h4 {
        font-size: 24px;
    }
}
@media (max-width: 767px) {
    form.link-select fieldset > .s_popup {
        width: 100%;
        top: -20px;
        left: 0;
        width: 100%;
        top: -20px;
        left: 0;
        max-height: 335px;
        overflow: auto;
    }
    .choose_glass h3 + p {
        text-align: left;
        padding: 0 15px;
    }
    .payment_form label p {
        text-align: center;
        margin-bottom: 0;
    }
    form.link-select fieldset > .s_popup > div a {
        height: 24px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    form.link-select fieldset > a:before {
        display: none;
    }
    .content.orders .body .header {
        text-align: left;
        padding: 0 15px;
    }
    .choose_glass form p {
        font-size: 15px;
    }
    .res_search .result .body .tabs .tab-content {
        padding: 15px;
    }
    .res_search .result .body .tabs .tab-content .tab-pane table tr td {
        font-size: 12px;
    }
    main .title .graphic {
        display: none;
    }
    main .breadcrumb h1 {
        font-size: 24px;
        line-height: 1.3;
    }
    .modal .modal-content .modal-body > form {
        padding: 60px 30px;
    }
    main .breadcrumb {
        padding-bottom: 40px;
    }
    main h3 {
        font-size: 20px !important;
        margin-bottom: 0px !important;
        text-align: left;
        margin-top: 20px !important;
        text-align: left !important;
        padding: 0 15px;
        line-height: 1.3;
    }
    .content.orders .item .dock div {
        border: none
    }
    .content.orders .item .dock p {
        margin: 5px 0 15px;
    }
    .content.orders .body .centers .items .rating {
        padding: 20px 15px;
    }
    .content.orders .body .centers .items .button {
        padding: 0 15px;
    }
    .content.orders .body .popup {
        padding: 20px;
    }
    .content.orders .body .popup strong {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .content.orders .body .popup [type="submit"] {
        margin-bottom: 25px;
    }
    .content.orders .body .glasses .img {
        margin-bottom: 15px;
    }
    .content.orders .body .glasses .items div {
        padding: 0;
        margin-bottom: 10px;
    }
    .content.orders .body .glasses .items div.brdr {
        border: none;
    }
    .content.orders .body .centers .items {
        padding: 20px 15px;
    }
    .content.orders .body .centers .items > div {
        padding: 10px 0 !important;
    }
    .content.orders .body .glasses .items {
        padding: 10px 15px 30px !important;
    }
    .content.orders .body .glasses h3 {
        font-size: 14px !important;
    }
    .content.choose_glass .body {
        margin-bottom: 40px;
    }
    .order_form {
        width: 100% !important;
        margin: 30px 0;
    }
    .order_form label {
        width: 100%;
        padding: 0;
    }
    .order_form button {
        padding: 0 !important;
        text-align: center;
        width: 100%;
    }
    main .title {
        display: none !important;
    }
    .choose_glass form {
        margin-top: 30px;
    }
    .choose_glass form > div {
        margin-bottom: 20px;
        margin-top: 0 !important;
    }
    .choose_glass form strong {
        text-align: left;
    }
    .choose_glass form a {
        width: 100%;
        padding: 0 15px;
        display: inline-block;
        margin-bottom: 20px;
    }
    .choose_glass form .centred {
        width: 100%;
        margin-left: 0 !important;
    }
    .choose_glass form h4 {
        text-align: left;
        padding: 0 15px;
    }
    .checkblock > div .row label {
        margin-bottom: 10px;
    }
    .checkblock > div .row [type="reset"] {
        margin-top: 20px;
    }
    .ln {
        margin-bottom: 20px;
    }
    .choose_glass .sorter_dock {
        margin: 30px 0 !important;
    }
    .res_search .result .item .title {
        display: inline-block !important;
        margin-bottom: 20px;
    }
    .res_search .result .item > div:not(.body) {
        display: inline-block;
        padding: 0 10px;
    }
    .res_search .result {
        padding: 0 15px;
    }
    .res_search .result .body .tabs li a {
        font-size: 14px;
        margin: 0;
        padding: 10px 15px;
    }
    .choose_glass .butt p {
        width: 100%;
        margin: 20px 0;
    }
    .res_search .result .item button {
        float: left;
        padding: 0 16px;
        max-width: 100%;
        text-align: center;
    }
    .choose_glass form .butt {
        margin: 40px 0 !important;
    }
    .res_search .result .item.open a.show {}
    .res_search .result .item .img img {
        float: left;
        margin: 0 0 30px 20px !important;
        max-width: initial;
    }
    .res_search .result .item .rating p {
        width: 100%;
        display: inline-block;
        width: 100%;
        max-width: 120px;
        top: 0;
        margin-bottom: 12px;
    }
    .choose_glass .clickable > div:last-of-type {
        padding: 0 !important;
    }
    .choose_center .view_nav {
        margin: 30px 0;
        float: left;
        width: 100%;
    }
    .choose_center .view_nav ul {}
    .choose_center .view_nav li {
        width: 50%;
    }
    .choose_center .view_nav a {
        width: 100%;
    }
    .choose_center h3 {
        padding: 10px 0 0 !important;
    }
    .choose_center .result_centers .item .title {
        margin-bottom: 20px;
    }
    .choose_center .result_centers .item .body .row > div > div {
        padding: 0 15px;
    }
    .choose_center .result_centers .item .body .title img {
        margin-bottom: 15px;
    }
    .choose_center .result_centers .item .body .title p {
        width: 50%;
        margin: 0 0 15px;
    }
    .choose_center .result_centers .item .body div.pay > div {
        width: 100% !important;
        margin-bottom: 16px;
    }
    .choose_center .butt p {
        width: 100%;
        margin: 15px 0;
    }
    #gmap .legend {
        padding: 15px;
        left: 0;
    }
    #gmap .legend li {
        margin: 0 0 15px;
    }
}